.wrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  transition: all 0.25s;
  border: 1px solid rgb(171, 171, 171);
}

.wrapper:hover {
  box-shadow: 0 0 20px 0 rgb(171, 171, 171);
  transform: scale(1.01);
}

.wrapper img {
  height: 500px;
  object-fit: cover;
  margin-bottom: 10px;
}

.wrapper p {
  font-size: 14px;
  color: #e83a4b;
  font-size: .8rem;
  font-weight: 300;
}

.wrapper h3 {
  color: #e83a4b;
  font-weight: bold;
  font-size: 20px;
}

.info {
  height: fit-content;
  padding: 10px;
  text-align: left;
}

.description {
  height: 30px;
}

.additional_info {
  margin: 5px 0;
  color: rgb(118, 118, 118);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .wrapper h3 {
    font-size: 26px;
    height: 90px;
  }

  .wrapper p {
    font-size: 14px;
  }

  .description {
    margin-bottom: 20px;
  }

  .wrapper img {
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper h3 {
    font-size: 30px;
    height: auto;
  }

  .description {
    height: 50px;
  }
}

@media (width <=426px) {
  .wrapper img {
    height: 280px;
  }
}